In [10]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import numpy.ma as ma
from scipy.stats import linregress
import json as json
from ohmysportsfeedspy import MySportsFeeds
#from sports_api_key import api_key

msf = MySportsFeeds(version="2.0")
msf.authenticate(api_key, 'MYSPORTSFEEDS')

In [11]:
#output = msf.msf_get_data(league='nba',season='2018-2019-regular',feed='seasonal_games',format='json')
#print(output)

team_stats = ['teamStatsTotals']
team_data = []
stats_data = []

lastUpdate = ['lastUpdatedOn']
games = ['games']
#chedule = ['schedule']
for team in team_stats:
    response = msf.msf_get_data(league='nba',season='2018-2019-regular',feed='seasonal_games',format='json')
    lastUpdate.append(response['lastUpdatedOn'])
    games.append(response['games'])
    #chedule.append(response['schedule'])
#print(response)

In [12]:
nbaDict = games[1]
nbaData = pd.DataFrame(nbaDict)
nbaData

,schedule,score
0,"{'id': 47570, 'startTime': '2018-10-17T00:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1,"{'id': 47571, 'startTime': '2018-10-17T02:30:0...","{'currentQuarter': None, 'currentQuarterSecond..."
2,"{'id': 47572, 'startTime': '2018-10-17T23:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
3,"{'id': 47573, 'startTime': '2018-10-17T23:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
4,"{'id': 47574, 'startTime': '2018-10-17T23:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
...,...,...
1225,"{'id': 48795, 'startTime': '2019-04-11T00:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1226,"{'id': 48796, 'startTime': '2019-04-11T00:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1227,"{'id': 48797, 'startTime': '2019-04-11T02:30:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1228,"{'id': 48798, 'startTime': '2019-04-11T02:30:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1229,"{'id': 48799, 'startTime': '2019-04-11T02:30:0...","{'currentQuarter': None, 'currentQuarterSecond..."

In [15]:
nbaDataSchedule = pd.concat([nbaData.schedule.apply(pd.Series)], axis=1)

In [16]:
nbaDataSchedule.head()

,id,startTime,endedTime,awayTeam,homeTeam,venue,venueAllegiance,scheduleStatus,originalStartTime,delayedOrPostponedReason,playedStatus,attendance,officials,broadcasters,weather
0,47570,2018-10-17T00:00:00.000Z,None,"{'id': 85, 'abbreviation': 'PHI'}","{'id': 82, 'abbreviation': 'BOS'}","{'id': 27, 'name': 'TD Garden'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
1,47571,2018-10-17T02:30:00.000Z,None,"{'id': 96, 'abbreviation': 'OKL'}","{'id': 101, 'abbreviation': 'GSW'}","{'id': 95, 'name': 'Oracle Arena'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
2,47572,2018-10-17T23:00:00.000Z,None,"{'id': 90, 'abbreviation': 'MIL'}","{'id': 93, 'abbreviation': 'CHA'}","{'id': 87, 'name': 'Spectrum Center'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
3,47573,2018-10-17T23:00:00.000Z,None,"{'id': 84, 'abbreviation': 'BRO'}","{'id': 88, 'abbreviation': 'DET'}","{'id': 145, 'name': 'Little Caesars Arena'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
4,47574,2018-10-17T23:00:00.000Z,None,"{'id': 107, 'abbreviation': 'MEM'}","{'id': 87, 'abbreviation': 'IND'}","{'id': 81, 'name': 'Bankers Life Fieldhouse'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None

In [17]:
nbaDataScore = pd.concat([nbaData.score.apply(pd.Series)], axis=1)
nbaDataScore.head()

,currentQuarter,currentQuarterSecondsRemaining,currentIntermission,awayScoreTotal,homeScoreTotal,quarters
0,None,None,None,87,105,"[{'quarterNumber': 1, 'awayScore': 21, 'homeSc..."
1,None,None,None,100,108,"[{'quarterNumber': 1, 'awayScore': 23, 'homeSc..."
2,None,None,None,113,112,"[{'quarterNumber': 1, 'awayScore': 36, 'homeSc..."
3,None,None,None,100,103,"[{'quarterNumber': 1, 'awayScore': 29, 'homeSc..."
4,None,None,None,83,111,"[{'quarterNumber': 1, 'awayScore': 16, 'homeSc..."

In [18]:
nbaData_road = pd.concat([nbaDataSchedule.awayTeam.apply(pd.Series)], axis=1)
nbaData_road.head(10)

    id abbreviation
0   85          PHI
1   96          OKL
2   90          MIL
3   84          BRO
4  107          MEM
5   92          MIA
6   91          ATL
7   86          CLE
8  110          NOP
9  100          MIN

In [19]:
nbaData_home = pd.concat([nbaDataSchedule.homeTeam.apply(pd.Series)], axis=1)
nbaData_home.head(10)

    id abbreviation
0   82          BOS
1  101          GSW
2   93          CHA
3   88          DET
4   87          IND
5   95          ORL
6   83          NYK
7   81          TOR
8  109          HOU
9  106          SAS

In [20]:
nbaData_venue = pd.concat([nbaDataSchedule.venue.apply(pd.Series)], axis=1)
nbaData_venue.head(10)

    id                     name
0   27                TD Garden
1   95             Oracle Arena
2   87          Spectrum Center
3  145     Little Caesars Arena
4   81  Bankers Life Fieldhouse
5   89             Amway Center
6   12    Madison Square Garden
7    1         Scotiabank Arena
8  102            Toyota Center
9   99              AT&T Center

In [21]:
nbaRoadAbr = nbaData_road['abbreviation']
nbaHomeAbr = nbaData_home['abbreviation']
nbaVen = nbaData_venue['name']
nbascoresRoad = nbaDataScore['awayScoreTotal']
nbascoresHome = nbaDataScore['homeScoreTotal']
nbaDate = nbaDataSchedule['startTime']


filteredNBAdata2018 = pd.DataFrame({"Date":nbaDate,
                                "Home Team":nbaHomeAbr,
                                "- Score":nbascoresHome,
                                "Road Team":nbaRoadAbr,
                                " - Score":nbascoresRoad,
                                "Venue":nbaVen,})

In [24]:
filteredNBAdata2018.to_csv('output_data/2018-2019-NBA.csv')
filteredNBAdata2018

,Date,Home Team,- Score,Road Team,- Score,Venue
0,2018-10-17T00:00:00.000Z,BOS,105,PHI,87,TD Garden
1,2018-10-17T02:30:00.000Z,GSW,108,OKL,100,Oracle Arena
2,2018-10-17T23:00:00.000Z,CHA,112,MIL,113,Spectrum Center
3,2018-10-17T23:00:00.000Z,DET,103,BRO,100,Little Caesars Arena
4,2018-10-17T23:00:00.000Z,IND,111,MEM,83,Bankers Life Fieldhouse
...,...,...,...,...,...,...
1225,2019-04-11T00:00:00.000Z,MIL,116,OKL,127,Fiserv Forum
1226,2019-04-11T00:00:00.000Z,SAS,105,DAL,94,AT&T Center
1227,2019-04-11T02:30:00.000Z,DEN,99,MIN,95,Pepsi Center
1228,2019-04-11T02:30:00.000Z,LAC,143,UTA,137,Staples Center
1229,2019-04-11T02:30:00.000Z,POR,136,SAC,131,Moda Center

In [387]:
#team_stats = ['teamStatsTotals']
team_data = []
stats_data = []

lastUpdate = ['lastUpdatedOn']
references = ['references']
#chedule = ['schedule']
for team in team_stats:
    response = msf.msf_get_data(league='nba',season='2018-2019-regular',feed='seasonal_games',format='json')
    lastUpdate.append(response['lastUpdatedOn'])
    references.append(response['references'])
    #chedule.append(response['schedule'])
#print(response)

In [388]:
references

['references',
 {'teamReferences': [{'id': 81,
    'city': 'Toronto',
    'name': 'Raptors',
    'abbreviation': 'TOR',
    'homeVenue': {'id': 1, 'name': 'Scotiabank Arena'},
    'teamColoursHex': ['#ce1141', '#000000', '#a1a1a4', '#b4975a'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'Raptors'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/TOR_logo.svg'},
   {'id': 82,
    'city': 'Boston',
    'name': 'Celtics',
    'abbreviation': 'BOS',
    'homeVenue': {'id': 27, 'name': 'TD Garden'},
    'teamColoursHex': ['#007a33', '#ba9653', '#963821', '#e59e6d', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'celtics'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/BOS_logo.svg'},
   {'id': 83,
    'city': 'New York',
    'name': 'Knicks',
    'abbreviation': 'NYK',
    'homeVenue': {'id': 12, 'name': 'Madison Square Garden'},
    'teamColoursHex': ['#006bb6', '#f58426', '#bec0c2', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'nyknicks'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/NYK_logo.svg'},
   {'id': 84,
    'city': 'Brooklyn',
    'name': 'Nets',
    'abbreviation': 'BRO',
    'homeVenue': {'id': 78, 'name': 'Barclays Center'},
    'teamColoursHex': ['#000000', '#ffffff'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'BrooklynNets'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/BKN_logo.svg'},
   {'id': 85,
    'city': 'Philadelphia',
    'name': '76ers',
    'abbreviation': 'PHI',
    'homeVenue': {'id': 29, 'name': 'Wells Fargo Center'},
    'teamColoursHex': ['#006bb6', '#ed174c', '#002b5c', '#c4ced4'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'sixers'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/PHI_logo.svg'},
   {'id': 86,
    'city': 'Cleveland',
    'name': 'Cavaliers',
    'abbreviation': 'CLE',
    'homeVenue': {'id': 80, 'name': 'Quicken Loans Arena'},
    'teamColoursHex': ['#6f263d', '#041e42', '#ffb81c', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'cavs'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/CLE_logo.svg'},
   {'id': 87,
    'city': 'Indiana',
    'name': 'Pacers',
    'abbreviation': 'IND',
    'homeVenue': {'id': 81, 'name': 'Bankers Life Fieldhouse'},
    'teamColoursHex': ['#002d62', '#fdbb30', '#bec0c2'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'Pacers'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/IND_logo.svg'},
   {'id': 88,
    'city': 'Detroit',
    'name': 'Pistons',
    'abbreviation': 'DET',
    'homeVenue': {'id': 145, 'name': 'Little Caesars Arena'},
    'teamColoursHex': ['#c8102e', '#006bb6', '#bec0c2', '#002d62'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER',
      'value': 'DetroitPistons'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/DET_logo.svg'},
   {'id': 89,
    'city': 'Chicago',
    'name': 'Bulls',
    'abbreviation': 'CHI',
    'homeVenue': {'id': 28, 'name': 'United Center'},
    'teamColoursHex': ['#ce1141', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'chicagobulls'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/CHI_logo.svg'},
   {'id': 90,
    'city': 'Milwaukee',
    'name': 'Bucks',
    'abbreviation': 'MIL',
    'homeVenue': {'id': 152, 'name': 'Fiserv Forum'},
    'teamColoursHex': ['#00471b', '#eee1c6', '#0077c0', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'Bucks'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/MIL_logo.svg'},
   {'id': 91,
    'city': 'Atlanta',
    'name': 'Hawks',
    'abbreviation': 'ATL',
    'homeVenue': {'id': 20, 'name': 'State Farm Arena'},
    'teamColoursHex': ['#e03a3e', '#c1d32f', '#26282a'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'ATLHawks'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/ATL_logo.svg'},
   {'id': 92,
    'city': 'Miami',
    'name': 'Heat',
    'abbreviation': 'MIA',
    'homeVenue': {'id': 86, 'name': 'American Airlines Arena'},
    'teamColoursHex': ['#98002e', '#f9a01b', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'MiamiHEAT'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/MIA_logo.svg'},
   {'id': 93,
    'city': 'Charlotte',
    'name': 'Hornets',
    'abbreviation': 'CHA',
    'homeVenue': {'id': 87, 'name': 'Spectrum Center'},
    'teamColoursHex': ['#1d1160', '#00788c', '#a1a1a4'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'hornets'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/CHA_logo.svg'},
   {'id': 94,
    'city': 'Washington',
    'name': 'Wizards',
    'abbreviation': 'WAS',
    'homeVenue': {'id': 13, 'name': 'Capital One Arena'},
    'teamColoursHex': ['#002b5c', '#e31837', '#c4ced4'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'WashWizards'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/WAS_logo.svg'},
   {'id': 95,
    'city': 'Orlando',
    'name': 'Magic',
    'abbreviation': 'ORL',
    'homeVenue': {'id': 89, 'name': 'Amway Center'},
    'teamColoursHex': ['#0077c0', '#c4ced4', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'OrlandoMagic'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/ORL_logo.svg'},
   {'id': 96,
    'city': 'Oklahoma City',
    'name': 'Thunder',
    'abbreviation': 'OKL',
    'homeVenue': {'id': 90, 'name': 'Chesapeake Energy Arena'},
    'teamColoursHex': ['#007ac1', '#ef3b24', '#002d62', '#fdbb30'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'okcthunder'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/OKC_logo.svg'},
   {'id': 97,
    'city': 'Portland',
    'name': 'Trail Blazers',
    'abbreviation': 'POR',
    'homeVenue': {'id': 91, 'name': 'Moda Center'},
    'teamColoursHex': ['#e03a3e', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'trailblazers'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/POR_logo.svg'},
   {'id': 98,
    'city': 'Utah',
    'name': 'Jazz',
    'abbreviation': 'UTA',
    'homeVenue': {'id': 92, 'name': 'Vivint Smart Home Arena'},
    'teamColoursHex': ['#002b5c', '#00471b', '#f9a01b'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'utahjazz'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/UTA_logo.svg'},
   {'id': 99,
    'city': 'Denver',
    'name': 'Nuggets',
    'abbreviation': 'DEN',
    'homeVenue': {'id': 19, 'name': 'Pepsi Center'},
    'teamColoursHex': ['#0e2240', '#fec524', '#8b2131', '#1d428a'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'nuggets'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/DEN_logo.svg'},
   {'id': 100,
    'city': 'Minnesota',
    'name': 'Timberwolves',
    'abbreviation': 'MIN',
    'homeVenue': {'id': 94, 'name': 'Target Center'},
    'teamColoursHex': ['#0c2340', '#236192', '#9ea2a2', '#78be20'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'Timberwolves'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/MIN_logo.svg'},
   {'id': 101,
    'city': 'Golden State',
    'name': 'Warriors',
    'abbreviation': 'GSW',
    'homeVenue': {'id': 95, 'name': 'Oracle Arena'},
    'teamColoursHex': ['#006bb6', '#fdb927', '#26282a'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'warriors'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/GSW_logo.svg'},
   {'id': 102,
    'city': 'Los Angeles',
    'name': 'Clippers',
    'abbreviation': 'LAC',
    'homeVenue': {'id': 25, 'name': 'Staples Center'},
    'teamColoursHex': ['#c8102e', '#1d428a', '#bec0c2', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'LAClippers'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/LAC_logo.svg'},
   {'id': 103,
    'city': 'Sacramento',
    'name': 'Kings',
    'abbreviation': 'SAC',
    'homeVenue': {'id': 151, 'name': 'Golden 1 Center'},
    'teamColoursHex': ['#5a2d81', '#63727a', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER',
      'value': 'SacramentoKings'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/SAC_logo.svg'},
   {'id': 104,
    'city': 'Phoenix',
    'name': 'Suns',
    'abbreviation': 'PHX',
    'homeVenue': {'id': 98, 'name': 'Talking Stick Resort Arena'},
    'teamColoursHex': ['#1d1160',
     '#e56020',
     '#000000',
     '#63727a',
     '#f9ad1b',
     '#b95915',
     '#bec0c2'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'Suns'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/PHX_logo.svg'},
   {'id': 105,
    'city': 'Los Angeles',
    'name': 'Lakers',
    'abbreviation': 'LAL',
    'homeVenue': {'id': 25, 'name': 'Staples Center'},
    'teamColoursHex': ['#552583', '#fdb927', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'Lakers'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/LAL_logo.svg'},
   {'id': 106,
    'city': 'San Antonio',
    'name': 'Spurs',
    'abbreviation': 'SAS',
    'homeVenue': {'id': 99, 'name': 'AT&T Center'},
    'teamColoursHex': ['#c4ced4', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'spurs'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/SAS_logo.svg'},
   {'id': 107,
    'city': 'Memphis',
    'name': 'Grizzlies',
    'abbreviation': 'MEM',
    'homeVenue': {'id': 100, 'name': 'FedEx Forum'},
    'teamColoursHex': ['#5d76a9', '#12173f', '#f5b112', '#707271'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'memgrizz'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/MEM_logo.svg'},
   {'id': 108,
    'city': 'Dallas',
    'name': 'Mavericks',
    'abbreviation': 'DAL',
    'homeVenue': {'id': 2, 'name': 'American Airlines Center'},
    'teamColoursHex': ['#00538c', '#002b5e', '#b8c4ca', '#000000'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'dallasmavs'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/DAL_logo.svg'},
   {'id': 109,
    'city': 'Houston',
    'name': 'Rockets',
    'abbreviation': 'HOU',
    'homeVenue': {'id': 102, 'name': 'Toyota Center'},
    'teamColoursHex': ['#ce1141', '#000000', '#c4ced4'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER',
      'value': 'HoustonRockets'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/HOU_logo.svg'},
   {'id': 110,
    'city': 'New Orleans',
    'name': 'Pelicans',
    'abbreviation': 'NOP',
    'homeVenue': {'id': 103, 'name': 'Smoothie King Center'},
    'teamColoursHex': ['#0c2340', '#c8102e', '#857a4d'],
    'socialMediaAccounts': [{'mediaType': 'TWITTER', 'value': 'PelicansNBA'}],
    'officialLogoImageSrc': 'https://global.nba.com/media/img/teams/00/logos/NOP_logo.svg'}],
  'venueReferences': [{'id': 1,
    'name': 'Scotiabank Arena',
    'city': 'Toronto, ON',
    'country': 'Canada',
    'geoCoordinates': {'latitude': 43.643333, 'longitude': -79.379167},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 20270},
     {'eventType': 'BASKETBALL', 'capacity': 20511},
     {'eventType': 'THEATER', 'capacity': 5200},
     {'eventType': 'LACROSSE', 'capacity': 18800},
     {'eventType': 'CONCERT', 'capacity': 19800}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 2,
    'name': 'American Airlines Center',
    'city': 'Dallas, TX',
    'country': 'USA',
    'geoCoordinates': {'latitude': 32.790556, 'longitude': -96.810278},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 19323},
     {'eventType': 'BASKETBALL', 'capacity': 21146},
     {'eventType': 'CONCERT', 'capacity': 21000}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 12,
    'name': 'Madison Square Garden',
    'city': 'New York, NY',
    'country': 'USA',
    'geoCoordinates': {'latitude': 40.750556, 'longitude': -73.993611},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 18006},
     {'eventType': 'BASKETBALL', 'capacity': 19812},
     {'eventType': 'THEATER', 'capacity': 5600},
     {'eventType': 'BOXING', 'capacity': 20789},
     {'eventType': 'WRESTLING', 'capacity': 18500},
     {'eventType': 'CONCERT', 'capacity': 20000}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 13,
    'name': 'Capital One Arena',
    'city': 'Washington, DC',
    'country': 'USA',
    'geoCoordinates': {'latitude': 38.89801, 'longitude': -77.0231909},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 18506},
     {'eventType': 'BASKETBALL', 'capacity': 20356}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 19,
    'name': 'Pepsi Center',
    'city': 'Denver, CO',
    'country': 'USA',
    'geoCoordinates': {'latitude': 39.748611, 'longitude': -105.0075},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 17809},
     {'eventType': 'BASKETBALL', 'capacity': 19520},
     {'eventType': 'ARENA_FOOTBALL', 'capacity': 17417},
     {'eventType': 'LACROSSE', 'capacity': 17809},
     {'eventType': 'CONCERT', 'capacity': 20000}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 20,
    'name': 'State Farm Arena',
    'city': 'Atlanta, GA',
    'country': 'USA',
    'geoCoordinates': {'latitude': 33.757222, 'longitude': -84.396389},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 17624},
     {'eventType': 'BASKETBALL', 'capacity': 16600},
     {'eventType': 'CONCERT', 'capacity': 21000}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 25,
    'name': 'Staples Center',
    'city': 'Los Angeles, CA',
    'country': 'USA',
    'geoCoordinates': {'latitude': 34.043056, 'longitude': -118.267222},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 18230},
     {'eventType': 'BASKETBALL', 'capacity': 19060},
     {'eventType': 'BOXING', 'capacity': 21000},
     {'eventType': 'ARENA_FOOTBALL', 'capacity': 16096},
     {'eventType': 'THEATER', 'capacity': 8000},
     {'eventType': 'CONCERT', 'capacity': 13000},
     {'eventType': 'WRESTLING', 'capacity': 21000}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 27,
    'name': 'TD Garden',
    'city': 'Boston, MA',
    'country': 'USA',
    'geoCoordinates': {'latitude': 42.366303, 'longitude': -71.062228},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 17565},
     {'eventType': 'LACROSSE', 'capacity': 17565},
     {'eventType': 'BASKETBALL', 'capacity': 18624},
     {'eventType': 'CONCERT', 'capacity': 19580}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 28,
    'name': 'United Center',
    'city': 'Chicago, IL',
    'country': 'USA',
    'geoCoordinates': {'latitude': 41.880556, 'longitude': -87.674167},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 22428},
     {'eventType': 'BASKETBALL', 'capacity': 23129},
     {'eventType': 'CONCERT', 'capacity': 23500}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 29,
    'name': 'Wells Fargo Center',
    'city': 'Philadelphia, PA',
    'country': 'USA',
    'geoCoordinates': {'latitude': 39.901111, 'longitude': -75.171944},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 19306},
     {'eventType': 'BASKETBALL', 'capacity': 20478},
     {'eventType': 'ARENA_FOOTBALL', 'capacity': 17597}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 78,
    'name': 'Barclays Center',
    'city': 'Brooklyn, NY',
    'country': 'USA',
    'geoCoordinates': {'latitude': 40.682661, 'longitude': -73.975225},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 15795},
     {'eventType': 'BASKETBALL', 'capacity': 17732},
     {'eventType': 'BOXING', 'capacity': 16000},
     {'eventType': 'MMA', 'capacity': 16000},
     {'eventType': 'CONCERT', 'capacity': 17000},
     {'eventType': 'WRESTLING', 'capacity': 16000}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 80,
    'name': 'Quicken Loans Arena',
    'city': 'Cleveland, OH',
    'country': 'USA',
    'geoCoordinates': {'latitude': 41.496389, 'longitude': -81.688056},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 18926},
     {'eventType': 'BASKETBALL', 'capacity': 19432},
     {'eventType': 'ARENA_FOOTBALL', 'capacity': 18926}],
    'playingSurface': None,
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 81,
    'name': 'Bankers Life Fieldhouse',
    'city': 'Indianapolis, IN',
    'country': 'USA',
    'geoCoordinates': {'latitude': 39.763889, 'longitude': -86.155556},
    'capacitiesByEventType': [{'eventType': 'ICE_HOCKEY', 'capacity': 12300},
     {'eventType': 'BASKETBALL', 'capacity': 17923},
     {'eventType': 'CONCERT', 'capacity': 19000}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 86,
    'name': 'American Airlines Arena',
    'city': 'Miami, FL',
    'country': 'USA',
    'geoCoordinates': {'latitude': 25.781389, 'longitude': -80.188056},
    'capacitiesByEventType': [{'eventType': 'BASKETBALL', 'capacity': 19600},
     {'eventType': 'CONCERT', 'capacity': 20021}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 87,
    'name': 'Spectrum Center',
    'city': 'Charlotte, NC',
    'country': 'USA',
    'geoCoordinates': {'latitude': 35.225, 'longitude': -80.839167},
    'capacitiesByEventType': [{'eventType': 'BASKETBALL', 'capacity': 20200},
     {'eventType': 'THEATER', 'capacity': 7000},
     {'eventType': 'WRESTLING', 'capacity': 20200},
     {'eventType': 'CONCERT', 'capacity': 18504}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 89,
    'name': 'Amway Center',
    'city': 'Orlando, FL',
    'country': 'USA',
    'geoCoordinates': {'latitude': 28.539167, 'longitude': -81.383611},
    'capacitiesByEventType': [{'eventType': 'END_STAGE_CONCERT',
      'capacity': 16486},
     {'eventType': 'ICE_HOCKEY', 'capacity': 17353},
     {'eventType': 'NCAA_BASKETBALL', 'capacity': 20000},
     {'eventType': 'ARENA_FOOTBALL', 'capacity': 17192},
     {'eventType': 'NBA', 'capacity': 18846},
     {'eventType': 'CENTER_STAGE_CONCERT', 'capacity': 17030}],
    'playingSurface': 'Multiple',
    'baseballDimensions': [],
    'hasRoof': True,
    'hasRetractableRoof': False},
   {'id': 90,
    'name': 'Chesapeake Energy Arena',
    'city': 'Oklahama City, OK',
    'country': 'USA',
    'geoCoordinates': {'latitude': 35.463333, 'longitude': -97.515},

In [389]:
nbaRefDict = references[1]
nbaRefData = pd.DataFrame.from_dict(nbaRefDict, orient='index')
nbaRefData

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
teamReferences,"{'id': 81, 'city': 'Toronto', 'name': 'Raptors...","{'id': 82, 'city': 'Boston', 'name': 'Celtics'...","{'id': 83, 'city': 'New York', 'name': 'Knicks...","{'id': 84, 'city': 'Brooklyn', 'name': 'Nets',...","{'id': 85, 'city': 'Philadelphia', 'name': '76...","{'id': 86, 'city': 'Cleveland', 'name': 'Caval...","{'id': 87, 'city': 'Indiana', 'name': 'Pacers'...","{'id': 88, 'city': 'Detroit', 'name': 'Pistons...","{'id': 89, 'city': 'Chicago', 'name': 'Bulls',...","{'id': 90, 'city': 'Milwaukee', 'name': 'Bucks...",...,"{'id': 101, 'city': 'Golden State', 'name': 'W...","{'id': 102, 'city': 'Los Angeles', 'name': 'Cl...","{'id': 103, 'city': 'Sacramento', 'name': 'Kin...","{'id': 104, 'city': 'Phoenix', 'name': 'Suns',...","{'id': 105, 'city': 'Los Angeles', 'name': 'La...","{'id': 106, 'city': 'San Antonio', 'name': 'Sp...","{'id': 107, 'city': 'Memphis', 'name': 'Grizzl...","{'id': 108, 'city': 'Dallas', 'name': 'Maveric...","{'id': 109, 'city': 'Houston', 'name': 'Rocket...","{'id': 110, 'city': 'New Orleans', 'name': 'Pe..."
venueReferences,"{'id': 1, 'name': 'Scotiabank Arena', 'city': ...","{'id': 2, 'name': 'American Airlines Center', ...","{'id': 12, 'name': 'Madison Square Garden', 'c...","{'id': 13, 'name': 'Capital One Arena', 'city'...","{'id': 19, 'name': 'Pepsi Center', 'city': 'De...","{'id': 20, 'name': 'State Farm Arena', 'city':...","{'id': 25, 'name': 'Staples Center', 'city': '...","{'id': 27, 'name': 'TD Garden', 'city': 'Bosto...","{'id': 28, 'name': 'United Center', 'city': 'C...","{'id': 29, 'name': 'Wells Fargo Center', 'city...",...,"{'id': 95, 'name': 'Oracle Arena', 'city': 'Oa...","{'id': 98, 'name': 'Talking Stick Resort Arena...","{'id': 99, 'name': 'AT&T Center', 'city': 'San...","{'id': 100, 'name': 'FedEx Forum', 'city': 'Me...","{'id': 102, 'name': 'Toyota Center', 'city': '...","{'id': 103, 'name': 'Smoothie King Center', 'c...","{'id': 145, 'name': 'Little Caesars Arena', 'c...","{'id': 151, 'name': 'Golden 1 Center', 'city':...","{'id': 152, 'name': 'Fiserv Forum', 'city': 'M...",None

In [390]:
nbaRef = nbaRefData.transpose()
nbaRef.head()

,teamReferences,venueReferences
0,"{'id': 81, 'city': 'Toronto', 'name': 'Raptors...","{'id': 1, 'name': 'Scotiabank Arena', 'city': ..."
1,"{'id': 82, 'city': 'Boston', 'name': 'Celtics'...","{'id': 2, 'name': 'American Airlines Center', ..."
2,"{'id': 83, 'city': 'New York', 'name': 'Knicks...","{'id': 12, 'name': 'Madison Square Garden', 'c..."
3,"{'id': 84, 'city': 'Brooklyn', 'name': 'Nets',...","{'id': 13, 'name': 'Capital One Arena', 'city'..."
4,"{'id': 85, 'city': 'Philadelphia', 'name': '76...","{'id': 19, 'name': 'Pepsi Center', 'city': 'De..."

In [391]:
nbaTeamRef = pd.concat([nbaRef.teamReferences.apply(pd.Series)], axis=1)
nbaTeamRef.head()

,id,city,name,abbreviation,homeVenue,teamColoursHex,socialMediaAccounts,officialLogoImageSrc
0,81,Toronto,Raptors,TOR,"{'id': 1, 'name': 'Scotiabank Arena'}","[#ce1141, #000000, #a1a1a4, #b4975a]","[{'mediaType': 'TWITTER', 'value': 'Raptors'}]",https://global.nba.com/media/img/teams/00/logo...
1,82,Boston,Celtics,BOS,"{'id': 27, 'name': 'TD Garden'}","[#007a33, #ba9653, #963821, #e59e6d, #000000]","[{'mediaType': 'TWITTER', 'value': 'celtics'}]",https://global.nba.com/media/img/teams/00/logo...
2,83,New York,Knicks,NYK,"{'id': 12, 'name': 'Madison Square Garden'}","[#006bb6, #f58426, #bec0c2, #000000]","[{'mediaType': 'TWITTER', 'value': 'nyknicks'}]",https://global.nba.com/media/img/teams/00/logo...
3,84,Brooklyn,Nets,BRO,"{'id': 78, 'name': 'Barclays Center'}","[#000000, #ffffff]","[{'mediaType': 'TWITTER', 'value': 'BrooklynNe...",https://global.nba.com/media/img/teams/00/logo...
4,85,Philadelphia,76ers,PHI,"{'id': 29, 'name': 'Wells Fargo Center'}","[#006bb6, #ed174c, #002b5c, #c4ced4]","[{'mediaType': 'TWITTER', 'value': 'sixers'}]",https://global.nba.com/media/img/teams/00/logo...

In [392]:
nbaVenRef = pd.concat([nbaRef.venueReferences.apply(pd.Series)], axis=1)
nbaVenRef.head()

,id,name,city,country,geoCoordinates,capacitiesByEventType,playingSurface,baseballDimensions,hasRoof,hasRetractableRoof
0,1.0,Scotiabank Arena,"Toronto, ON",Canada,"{'latitude': 43.643333, 'longitude': -79.379167}","[{'eventType': 'ICE_HOCKEY', 'capacity': 20270...",None,[],True,False
1,2.0,American Airlines Center,"Dallas, TX",USA,"{'latitude': 32.790556, 'longitude': -96.810278}","[{'eventType': 'ICE_HOCKEY', 'capacity': 19323...",Multiple,[],True,False
2,12.0,Madison Square Garden,"New York, NY",USA,"{'latitude': 40.750556, 'longitude': -73.993611}","[{'eventType': 'ICE_HOCKEY', 'capacity': 18006...",None,[],True,False
3,13.0,Capital One Arena,"Washington, DC",USA,"{'latitude': 38.89801, 'longitude': -77.0231909}","[{'eventType': 'ICE_HOCKEY', 'capacity': 18506...",Multiple,[],True,False
4,19.0,Pepsi Center,"Denver, CO",USA,"{'latitude': 39.748611, 'longitude': -105.0075}","[{'eventType': 'ICE_HOCKEY', 'capacity': 17809...",Multiple,[],True,False

In [393]:
nbaGeoRef = pd.concat([nbaVenRef.geoCoordinates.apply(pd.Series)], axis=1)
nbaGeoRef.head()

    latitude   longitude   0
0  43.643333  -79.379167 NaN
1  32.790556  -96.810278 NaN
2  40.750556  -73.993611 NaN
3  38.898010  -77.023191 NaN
4  39.748611 -105.007500 NaN

In [394]:
teamName = nbaTeamRef['name']
teamAbr = nbaTeamRef['abbreviation']
teamCity = nbaVenRef['city']
teamArena = nbaVenRef['name']
teamLat = nbaGeoRef['latitude']
teamLng = nbaGeoRef['longitude']

filteredNBAref = pd.DataFrame({"Team Name":teamName,
                                "Abbreviation":teamAbr,
                                "City, State": teamCity,
                                "Venue":teamArena,
                                "Latitude":teamLat,
                               "Longitude":teamLng})

In [395]:
filteredNBAref

,Team Name,Abbreviation,"City, State",Venue,Latitude,Longitude
0,Raptors,TOR,"Toronto, ON",Scotiabank Arena,43.643333,-79.379167
1,Celtics,BOS,"Dallas, TX",American Airlines Center,32.790556,-96.810278
2,Knicks,NYK,"New York, NY",Madison Square Garden,40.750556,-73.993611
3,Nets,BRO,"Washington, DC",Capital One Arena,38.898010,-77.023191
4,76ers,PHI,"Denver, CO",Pepsi Center,39.748611,-105.007500
5,Cavaliers,CLE,"Atlanta, GA",State Farm Arena,33.757222,-84.396389
6,Pacers,IND,"Los Angeles, CA",Staples Center,34.043056,-118.267222
7,Pistons,DET,"Boston, MA",TD Garden,42.366303,-71.062228
8,Bulls,CHI,"Chicago, IL",United Center,41.880556,-87.674167
9,Bucks,MIL,"Philadelphia, PA",Wells Fargo Center,39.901111,-75.171944
10,Hawks,ATL,"Brooklyn, NY",Barclays Center,40.682661,-73.975225
11,Heat,MIA,"Cleveland, OH",Quicken Loans Arena,41.496389,-81.688056
12,Hornets,CHA,"Indianapolis, IN",Bankers Life Fieldhouse,39.763889,-86.155556
13,Wizards,WAS,"Miami, FL",American Airlines Arena,25.781389,-80.188056
14,Magic,ORL,"Charlotte, NC",Spectrum Center,35.225000,-80.839167
15,Thunder,OKL,"Orlando, FL",Amway Center,28.539167,-81.383611
16,Trail Blazers,POR,"Oklahama City, OK",Chesapeake Energy Arena,35.463333,-97.515000
17,Jazz,UTA,"Portland, OR",Moda Center,45.531667,-122.666667
18,Nuggets,DEN,"Salt Lake City, UT",Vivint Smart Home Arena,40.768333,-111.901111
19,Timberwolves,MIN,"Minneapolis, MN",Target Center,44.979444,-93.276111
20,Warriors,GSW,"Oakland, CA",Oracle Arena,37.750278,-122.203056
21,Clippers,LAC,"Phoenix, AZ",Talking Stick Resort Arena,33.445833,-112.071389
22,Kings,SAC,"San Antonio, TX",AT&T Center,29.426944,-98.437500
23,Suns,PHX,"Memphis, TN",FedEx Forum,35.138333,-90.050556
24,Lakers,LAL,"Houston, TX",Toyota Center,29.750833,-95.362222
25,Spurs,SAS,"New Orleans, LA",Smoothie King Center,29.948889,-90.081944
26,Grizzlies,MEM,"Detroit, MI",Little Caesars Arena,42.341111,-83.055000
27,Mavericks,DAL,"Sacramento, CA",Golden 1 Center,38.580361,-121.499611
28,Rockets,HOU,"Milwaukee, WI",Fiserv Forum,43.045028,-87.918167
29,Pelicans,NOP,NaN,NaN,NaN,NaN